h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    font-family: "Lucida Grande", "游ゴシック", sans-serif;
}


body {
    font-family: "Lucida Grande", "游ゴシック", sans-serif;
    font-size: 90%;
}

header {
    margin-top: 0px;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    min-height: auto;
    margin: auto;
    background-color: white;
    border-bottom: 1px solid #8D6E63;
    position: relative;
}


.content {
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: auto;
    margin: auto;
    background-color: white;
}

th,
td {
    border: solid 1px #8D6E63;
    padding-left: 16px;
    padding-right: 16px;
}

table {
    border-collapse: collapse;
}

.home {
    text-decoration: none;
    margin-right: 35px;
    color: #8D6E63;
    text-align: right;
}




.link {
    color: #8D6E63;
}

a {
    color: #8D6E63;
}

h2 {
    font-weight: normal;
}


h3 {
    font-size: 1.2em;
    font-weight: normal;
    border-bottom: 1px solid #8D6E63;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
}

th {
    font-weight: normal;
}

@media (min-width: 768px) {
    .nav_ul {
        display: flex;
        position: absolute;
        bottom: auto;
        right: 0px;

    }
}

@media (max-width: 768px) {
    body {
        font-size: 80%;
    }

    header {
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        min-height: auto;
        margin: auto;
        background-color: white;
        border-bottom: 1px solid #8D6E63;
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: auto;
        margin: auto;
        background-color: white;
    }

    .home {
        text-decoration: none;
        margin-right: 35px;
        color: #8D6E63;
        text-align: left;
    }

    .nav_ul {
        display: flex;

    }

    .table_scroll {
        overflow: scroll;
    }

    table,
    td,
    th {
        white-space: nowrap;
    }

    ul,
    ol {
        margin-left: 0;
        padding-left: 0;
    }
}

button {
    color: #8D6E63;
    border-radius: 5px;
    border-width: 1px;
    border-color: #999;
}

/*入力フォーム*/

textarea {
    resize: vertical;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f8f8f8;
    margin: 0.5em 0;
    line-height: 1.5;
    min-height: 8em;
    height: 8em;
}

.output {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #ffffff;
    margin: 0.5em 0;
    padding: 0 1em;
    line-height: 1.5;
    min-height: 3em;
    height: fit-content;
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
}

/*↓↓↓目次作成*/


#table-of-content ol li a {
    text-decoration: none;
}

.contents2 {
    margin-left: 15px;
}

.contents3 {
    margin-left: 30px;
}

summary {
    cursor: pointer;
}

/*
↑↑↑目次作成
*/

em {
    font-style: normal;
    font-weight: 900;
}